In [24]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [25]:
innovation = pd.read_csv("/Users/kendallscherer/DS4001G1P2/innovation_rates_by_college.csv")
innovation

,super_opeid,instnm,count,count_pq1,count_pq2,count_pq3,count_pq4,count_pq5,inventor,inventor_pq1,inventor_pq2,inventor_pq3,inventor_pq4,inventor_pq5,top5cit,total_patents,total_cites
0,1,University Of Hawaii And Hawaii Community Coll...,27002,3205,4527,5628,6957,6685,0.001037,0.000312,0.000663,0.000533,0.000719,0.002393,0.000069,22,55
1,4,Coast Community College District,24340,4183,3829,4311,5066,6951,0.001643,0.001195,0.001045,0.001160,0.001382,0.002733,0.000120,76,333
2,13,Kern & North Orange County Community College D...,18765,2521,3091,3564,4410,5179,0.001119,0.001190,0.000000,0.001403,0.000907,0.001738,0.000005,28,22
3,16,San Mateo County Community College District,10936,1253,1658,2187,2513,3325,0.001646,0.002394,0.003619,0.000457,0.001194,0.001504,0.000106,35,2474
4,19,Foothill-Deanza Community College District,16619,2245,2287,2798,3206,6083,0.003189,0.003118,0.000437,0.003574,0.001871,0.004767,0.000183,137,1497
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,20662,"New School, The",2691,273,318,315,428,1357,0.005946,0.000000,0.000000,0.000000,0.002336,0.011054,0.000818,79,124
419,20771,Milwaukee Institute Of Art & Design,640,60,67,130,170,213,0.020313,0.000000,0.000000,0.007692,0.017647,0.042253,0.006390,124,358
420,20789,Art Institute Of Colorado,2433,306,455,504,505,663,0.005343,0.009804,0.000000,0.000000,0.005941,0.010558,0.000828,29,62
421,21415,Savannah College Of Art And Design,4675,253,448,642,1004,2328,0.009412,0.015810,0.002232,0.009346,0.008964,0.010309,0.002534,160,417
422,22913,Art Institute Of Seattle,2616,299,385,549,742,641,0.004205,0.000000,0.005195,0.005464,0.002695,0.006240,0.000758,39,41

In [26]:
coordinates = pd.read_csv("/Users/kendallscherer/DS4001G1P2/coordinates.csv")
coordinates

,X,Y,OBJECTID,IPEDSID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,...,ALIAS,SIZE_SET,INST_SIZE,PT_ENROLL,FT_ENROLL,TOT_ENROLL,HOUSING,DORM_CAP,TOT_EMP,SHELTER_ID
0,-8.209134e+06,4.953591e+06,1,190752,YESHIVA OF FAR ROCKAWAY DERECH AYSON RABBINICA...,802 HICKSVILLE RD,FAR ROCKAWAY,NY,11691,5219,...,NOT AVAILABLE,24,1,-999,43,43,1,35,15,NOT AVAILABLE
1,-8.267688e+06,4.940383e+06,2,481429,UNIVERSAL TRAINING INSTITUTE,174 JEFFERSON STREET,PERTH AMBOY,NJ,8861,4106,...,NOT AVAILABLE,-2,1,-999,176,176,2,-999,15,NOT AVAILABLE
2,-7.353945e+06,2.082890e+06,3,241739,UNIVERSIDAD ANA G. MENDEZ-CUPEY CAMPUS,1399 AVE. ANA G. MENDEZ,SAN JUAN,PR,926,2602,...,UAGM CUPEY,18,3,2780,6113,8893,2,-999,1020,NOT AVAILABLE
3,-1.006191e+07,4.664997e+06,4,455071,HEALING ARTS CENTER,"10073 MANCHESTER ROAD, SUITE 100",ST. LOUIS,MO,63122,NOT AVAILABLE,...,NOT AVAILABLE,-2,1,131,-999,131,2,-999,15,NOT AVAILABLE
4,-8.797220e+06,4.290711e+06,5,455141,AVEDA INSTITUTE-CHAPEL HILL,"201 S. ESTES DRIVE, SPACE 200 B",CHAPEL HILL,NC,27514,7001,...,NOT AVAILABLE,-2,1,-999,216,216,2,-999,25,NOT AVAILABLE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6554,-9.317151e+06,5.308190e+06,6555,494889,BAKER COLLEGE - FLINT,1050 WEST BRISTOL ROAD,FLINT,MI,48507,5508,...,NOT AVAILABLE,-2,-2,-999,-999,-999,-1,-999,-999,NOT AVAILABLE
6555,-1.082780e+07,4.536689e+06,6556,494898,WELLSPRING SCHOOL OF ALLIED HEALTH-WICHITA,"650 N CARRIAGE PARKWAY, STE 55",WICHITA,KS,67208,4501,...,NOT AVAILABLE,-2,1,-999,38,38,2,-999,14,NOT AVAILABLE
6556,-8.145887e+06,4.983035e+06,6557,494904,ACCESS CAREERS-ISLANDIA,"1930 VETERANS HIGHWAY, SUITE 10",ISLANDIA,NY,11749,1599,...,NOT AVAILABLE,-2,1,43,20,63,2,-999,18,NOT AVAILABLE
6557,-1.304572e+07,3.865065e+06,6558,494913,FRANCISCAN SCHOOL OF THEOLOGY - SAN DIEGO,5998 ALCALA PARK,SAN DIEGO,CA,92110,2492,...,NOT AVAILABLE,-2,-2,-999,-999,-999,-1,-999,-999,NOT AVAILABLE
6558,-1.270918e+07,5.819852e+06,6559,494922,UNIVERSITY OF MONTANA (THE) - BITTERROOT COLLE...,103 SOUTH 9TH STREET,HAMILTON,MT,59840,3213,...,NOT AVAILABLE,-2,-2,-999,-999,-999,-1,-999,-999,NOT AVAILABLE

In [27]:
innovation['Name_lower'] = innovation['instnm'].str.lower()
coordinates['Name_lower'] = coordinates['NAME'].str.lower()

# Merge on the lowercase columns
merged_df = pd.merge(innovation, coordinates, on='Name_lower', how='inner')

# Drop the lowercase columns (if not needed)
#merged_df = merged_df.drop(columns=['Name_lower'])

merged_df

,super_opeid,instnm,count,count_pq1,count_pq2,count_pq3,count_pq4,count_pq5,inventor,inventor_pq1,...,ALIAS,SIZE_SET,INST_SIZE,PT_ENROLL,FT_ENROLL,TOT_ENROLL,HOUSING,DORM_CAP,TOT_EMP,SHELTER_ID
0,129,Harvard University,6819,228,364,523,892,4812,0.021118,0.004386,...,NOT AVAILABLE,15,5,11361,19030,30391,1,13694,19178,NOT AVAILABLE
1,1009,Auburn University,18709,658,1367,2199,3985,10500,0.004864,0.000000,...,NOT AVAILABLE,16,5,4891,25846,30737,1,4823,6522,NOT AVAILABLE
2,1055,University Of Alabama In Huntsville,3061,243,349,587,891,991,0.007514,0.004115,...,UAH UNIVERSITY OF ALABAMA HUNTSVILLE,16,3,2654,7345,9999,1,2200,1592,NOT AVAILABLE
3,1089,Arkansas Tech University,4612,679,1048,1198,1084,603,0.002602,0.000000,...,ATU|TECH|ARKANSAS TECH,18,4,4467,6362,10829,1,2508,1125,NOT AVAILABLE
4,1090,Arkansas State University,9055,1535,2003,2207,2031,1279,0.001767,0.000651,...,A-STATE,18,4,6641,6465,13106,1,3642,1947,NOT AVAILABLE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288,10149,Pepperdine University,2857,152,228,390,525,1562,0.003850,0.006579,...,NOT AVAILABLE,17,3,3626,5928,9554,1,2585,2072,NOT AVAILABLE
289,10684,Erie Community College,11930,1746,2026,2784,3334,2040,0.001090,0.000000,...,NOT AVAILABLE,2,3,3305,5059,8364,2,-999,1718,NOT AVAILABLE
290,11649,Loyola Marymount University,5040,276,411,552,809,2992,0.004167,0.000000,...,NOT AVAILABLE,18,3,831,8855,9686,1,3684,2192,NOT AVAILABLE
291,20771,Milwaukee Institute Of Art & Design,640,60,67,130,170,213,0.020313,0.000000,...,MIAD,30,1,13,912,925,1,418,241,NOT AVAILABLE
292,21415,Savannah College Of Art And Design,4675,253,448,642,1004,2328,0.009412,0.015810,...,SCAD,30,4,3299,10966,14265,1,6317,1786,NOT AVAILABLE

In [28]:
#just want innovation + lat + long + name??
columns = ['instnm','total_patents','LATITUDE','LONGITUDE','count']
merged_df_new = merged_df[columns]

In [29]:
merged_df_new

,instnm,total_patents,LATITUDE,LONGITUDE,count
0,Harvard University,386,42.374172,-71.118234,6819
1,Auburn University,193,32.600201,-85.492409,18709
2,University Of Alabama In Huntsville,20,34.722818,-86.638420,3061
3,Arkansas Tech University,13,35.295227,-93.132330,4612
4,Arkansas State University,36,35.843634,-90.677872,9055
...,...,...,...,...,...
288,Pepperdine University,26,34.041683,-118.709380,2857
289,Erie Community College,12,42.881771,-78.872679,11930
290,Loyola Marymount University,32,33.970855,-118.415745,5040
291,Milwaukee Institute Of Art & Design,124,43.030917,-87.907925,640
292,Savannah College Of Art And Design,160,32.077439,-81.100234,4675

In [30]:
merged_df_new.to_csv('map_data2.csv', index=False)